---
import Contact from '../components/Contact.astro';
import Layout from '../layouts/Layout.astro';
import GitHubIcon from '../Icons/GitHub-Icon.astro'
import LinkedInIcon from '../Icons/LinkedIn.astro'
import SocialPills from '../components/SocialPills.astro'
import Proyects from '../components/Proyects.astro';
import Technologies from '../components/Technologies.astro';
---

<Layout>
			<section class="flex flex-col md:items-center max-w-full mx-auto items-center justify-center lg:flex-row md:justify-center my-5 lg:my-44">				
				<div class="items-center  mt-16 mb-[53px] lg:sticky lg:top-0 lg:flex lg:flex-row lg:max-h-screen lg:w-1/2 lg:justify-between ">
					<div class="w-[80%]  lg:w-[100%] p-1">
						<h1 class="font-bold tracking-tight text-slate-200 text-5xl">
								Buenas!, soy
								<b id="typing" class="text-cyan-700"> </b>
						</h1>
						<h2 class="mt-3 font-medium tracking-tight text-gray-400  text-2xl">
							Desarrollador Backend
						</h2>
						<p class="mt-4 w-full leading-normal text-xl font-medium">
							Estudiante de tecnicatura en programación en la ciudad de <b class="text-cyan-800/50">Mendoza, Argentina.</b> <br>
							<b class="text-cyan-700">
								En busqueda de desafios para seguir aprendiendo!
							</b>
							
						</p>
					</div>
				</div>
					<ul class="mx-0.5 md:mx-0 lg:m-3 p-3">
						<nav class="flex gap-x-2" >
						  <SocialPills href="https://www.linkedin.com/in/ignacio-ariza/"> 
							  <LinkedInIcon class="w-6 h-6"  />
							  Linkedin 
						  </SocialPills>
						  <SocialPills href="https://github.com/Nacho2070">
							  <GitHubIcon class="w-6 h-6"  />
							  GitHub
						  </SocialPills>  
						</nav>
				  	</ul>
			</section>
			
			<Proyects />
			<Technologies />

			<Contact />
			
</Layout>

<script type="module">
	var typeString = ['Ignacio'];
      var  i = 0;
      var count = 0
      var selectedText = '';
      var text = '';

      (function type() {
	   
        if (count == typeString.length) {
          count = 0;
        }
        selectedText = typeString[count];
        text = selectedText.slice(0, ++i);
        document.getElementById('typing').innerHTML = text;
        if (text.length === selectedText.length) {
          
        }
        setTimeout(type, 300);
      }());
  </script>