---
import Contact from '../components/Contact.astro';
import Layout from '../layouts/Layout.astro';
import GitHubIcon from '../Icons/GitHub-Icon.astro'
import LinkedInIcon from '../Icons/LinkedIn.astro'
import SocialPills from '../components/SocialPills.astro'
import Proyects from '../components/Proyects.astro';
import Technologies from '../components/Technologies.astro';
---

<Layout>	
			<div class="flex flex-col lg:flex-row items-center justify-center my-5 w-full lg:my-4">
				
				<div class="items-center w-auto mt-28 mb-[53px] lg:sticky lg:top-0 lg:flex lg:flex-row lg:max-h-screen lg:w-1/2 lg:justify-between lg:py-24">
					<div class="w-[80%] lg:w-[70%]">						
						<h1 class="font-bold tracking-tight text-slate-200 text-5xl">
								Buenas!, mi nombre es <b id="typing" class="text-cyan-700"></b>
						</h1>
						<h2 class="mt-3 font-medium tracking-tight text-gray-400  text-2xl">
							Desarrollador BackEnd
						</h2>
						<p class="mt-4 w-full leading-normal text-xl font-medium">
							Estudiante de tecnicatura en programación en la ciudad de <b class="text-cyan-800">Mendoza, Argentina.</b> <br>
							<b class="text-cyan-700">
								Me encuentro en busqueda de desafios para seguir aprendiendo!
							</b>
							
						</p>
					</div>			
				</div>
					<ul class="mx-0.5 lg:m-3 p-3">
						<nav class="flex gap-x-2" >
						  <SocialPills href="https://www.linkedin.com/in/ignacio-ariza/"> 
							  <LinkedInIcon class="w-6 h-6"  />
							  Linkedin 
						  </SocialPills>
						  <SocialPills href="https://github.com/Nacho2070">
							  <GitHubIcon class="w-6 h-6"  />
							  GitHub
						  </SocialPills>  
						</nav>
				  	</ul>
			</div>
			<Proyects />
			<Technologies />

			<Contact />
			
</Layout>

<script type="module">
	var typeString = ['Ignacio'];
      var  i = 0;
      var count = 0
      var selectedText = '';
      var text = '';

      (function type() {
	   
        if (count == typeString.length) {
          count = 0;
        }
        selectedText = typeString[count];
        text = selectedText.slice(0, ++i);
        document.getElementById('typing').innerHTML = text;
        if (text.length === selectedText.length) {
          
        }
        setTimeout(type, 300);
      }());
	  setTimeout(() => {
      	type();
      }, 1500);
  </script>